VITE_API_URL="http://127.0.0.1:8080/api"
VITE_GOOGLE_CLIENT_ID=""
VITE_ADMIN_EMAIL= # Comma-separated list of admin emails e.g. admin1@example.com,admin2@example.com
CLIENT_ID=
CLIENT_SECRET=
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
ALLOWED_ORIGINS="http://localhost:5173,https://dharma-ai.org"